[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Source code management utilities for atvise
[access "refs/*"]
	owner = group user/Christian (chbi)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Christian (chbi)
	label-Verified = -1..+1 group user/Christian (chbi)
	push = group user/Christian (chbi)
	read = group user/Christian (chbi)
	rebase = group user/Christian (chbi)
	removeReviewer = group user/Christian (chbi)
	submit = group user/Christian (chbi)
[access "refs/heads/*"]
	create = group user/Christian (chbi)
	push = +force group user/Christian (chbi)
	pushMerge = group user/Christian (chbi)
	read = group user/Christian (chbi)
[access "refs/tags/*"]
	push = group user/Christian (chbi)
	push = +force group user/Christian (chbi)
